$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import "animations";

body {
  background-color: #7ec0ee;
  font-family: 'Gloria Hallelujah';
  font-size: 30px;
  line-height: 48px;
  color: #555;
  width: 100vw;
  overflow-x: hidden;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 24px;
    line-height: 32px;
  }

  > div {
    position: relative;
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .clouds-row {
    position: relative;
    height: 100vh;
    width: 100%;

    .cloud {
      position: absolute;
      left: -20%;
      opacity: 0;

      animation: clouds 60s infinite linear;

      &.cloud-small {
        transform: scale(0.25);
      }

      &.cloud-medium {
        transform: scale(0.5);
      }

      &.cloud-large {
        transform: scale(1);
      }

      &.cloud-animation-1 {
        animation-duration: 120s;
        animation-delay: 10s;
      }

      &.cloud-animation-2 {
        animation-duration: 80s;
      }

      &.cloud-animation-3 {
        animation-duration: 70s;
        animation-delay: 2s;
      }

      &.cloud-animation-4 {
        animation-duration: 60s;
        animation-delay: 25s;
      }

      &.cloud-animation-5 {
        animation-duration: 50s;
        animation-delay: 30s;
      }

      &.cloud-animation-6 {
        animation-duration: 56s;
        animation-delay: 7s;
      }

      &.cloud-animation-7 {
        animation-duration: 52s;
        animation-delay: 8s;
      }

      &.cloud-animation-8 {
        animation-duration: 48s;
        animation-delay: 1s;
      }

      &.cloud-animation-9 {
        animation-duration: 44s;
        animation-delay: 9s;
      }

      &.cloud-animation-10 {
        animation-duration: 40s;
        animation-delay: 1s;
      }

      &.cloud-top {
        top: 0;
      }

      &.cloud-middle-top {
        top: 20%;
      }

      &.cloud-middle {
        top: 40%;
      }

      &.cloud-middle-bottom {
        top: 60%;
      }

      &.cloud-bottom {
        top: 80%;
      }

      @keyframes clouds {
        0% {
          left: -20%;
          margin-top: 0;
          opacity: 0;
        }

        25% {
          margin-top: -20px;
          opacity: 0.75;
        }

        50% {
          margin-top: 0;
        }

        75% {
          margin-top: 20px;
          opacity: 0.75;
        }

        100% {
          left: 100%;
          margin-top: 0;
          opacity: 0;
        }
      }
    }

  }
}

.navbar {
  position: fixed;
  min-height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: transparent;
  border: none;
  border-radius: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;

  @media screen and (min-width: $screen-md-min) {
    opacity: 0;
    animation: fade-in 1s 1 ease-out;
    animation-fill-mode: forwards;
    animation-delay: 8s;
  }

  .nav {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {

      a {
        text-align: center;
        font-size: 15px;
        line-height: 12px;

        .dot {
          width: 15px;
          height: 15px;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 10px;
          display: inline-block;
          transition: 0.25s linear;
        }

      }

      &:hover {
        a {
          background-color: transparent;
          .dot {
            background-color: rgba(255, 255, 255, 0.5);
            transition: 0.25s linear;
          }
        }
      }

      &.active {
        a {
          .dot {
            background-color: white;
            transition: 0.25s linear;
          }
        }
      }

    }

    @media screen and (max-width: $screen-sm-max) {
      display: none;
    }

  }

}

.slides {
  width: calc(60vw - 40px);

  @media screen and (max-width: $screen-sm-max) {
    width: 100vw;
  }

  .slide {
    position: relative;
    min-height: calc(100vh - 40px);
    width: 100%;
    padding: 20px;
    flex-direction: column;
    display: flex;     align-items: center;     justify-content: center;
    overflow: hidden;

    .content {
      position: relative;
      text-align: center;
      z-index: 2;
      flex: 1;
      flex-direction: column;
      display: flex;     align-items: center;     justify-content: center;

      .title {
        color: white;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 75px;
        line-height: 150px;
        margin-bottom: 20px;

        @media screen and (max-width: $screen-xs-max) {
          font-size: 50px;
          line-height: 80px;
        }

        @media screen and (min-width: $screen-md-min) {
          opacity: 0;
          animation: fade-in 8s 1 ease-out;
          animation-fill-mode: forwards;
        }
      }

      .subtitle {
        margin: 0;
        color: #666;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        font-size: 40px;
        line-height: 80px;
        text-align: center;

        @media screen and (max-width: $screen-xs-max) {
          font-size: 30px;
          line-height: 50px;
        }

        @media screen and (min-width: $screen-md-min) {
          opacity: 0;
          animation: fade-in 5s 1 ease-out;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }
      }

      .highlight {
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 6;

        .highlight-text {
          position: relative;
          z-index: 6;
        }
      }

    }

    .memories {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      width: 100%;
      z-index: 1;

      @media screen and (max-width: $screen-xs-max) {
        flex-wrap: nowrap;
      }

      .memory {
        opacity: 0;
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        margin-left: -1000px;
        position: relative;
        transform: scale(0.75);

        @media screen and (max-width: $screen-xs-max) {
          opacity: 1;
          margin-left: 0;
        }
      }

      &:nth-child(1) {
        align-items: flex-end;
        .memory {
          &:nth-child(1) {
            transform: scale(0.75) rotate(7deg);
            transition: 2s;

            @media screen and (max-width: $screen-xs-max) {
              transform: scale(0.4) rotate(4deg);
            }
          }

          &:nth-child(2) {
            transform: scale(0.75) rotate(-5deg);
            transition: 3s;

            @media screen and (max-width: $screen-xs-max) {
              transform: scale(0.4) rotate(-5deg);
            }
          }
        }
      }

      &:nth-child(3) {
        align-items: flex-start;
        .memory {
          &:nth-child(1) {
            transform: scale(0.75) rotate(-6deg);
            transition: 5s;

            @media screen and (max-width: $screen-xs-max) {
              transform: scale(0.4) rotate(-6deg);
            }
          }

          &:nth-child(2) {
            transform: scale(0.75) rotate(4deg);
            transition: 4s;

            @media screen and (max-width: $screen-xs-max) {
              transform: scale(0.4) rotate(4deg);
            }
          }
        }
      }
    }

    &.active {
      .memories {
        .memory {
          opacity: 1;
          margin-left: 0;
        }
      }
    }
  }
}

.characters {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(40vw - 75px);
  flex-direction: column;
  display: flex;     align-items: center;     justify-content: center;
  height: calc(100vh - 40px);
  padding: 20px 55px 20px 20px;
  animation: characters-start 10s 1 ease-out;
  z-index: 1;

  @keyframes characters-start {
    0% {
      right: -25%;
      top: -25%;
      opacity: 0;
    }

    100% {
      right: 0;
      top: 0;
      opacity: 1;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    display: none;
  }

  img {
    max-height: 90%;
    max-width: 100%;
    animation: wobbly 5s infinite linear;
  }
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
  }
}
